@model Questionario.Models.Resposta;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Document</title>
</head>
<body>
    
       <h1>Você teria coragem de fazer uma viagem para marte?</h1>
        <div asp-validation-summary="All" class="ErrorMessageClass"></div>
          <form method="POST" class="formClass" >
             <div>
                  <label asp-for="Nome"></label> <br>
                  <input asp-for="Nome"></input>
             </div>

            <div>
                 <label asp-for="Email"></label> <br>
                 <input type="email" asp-for="Email"></input> 
            </div>
           
             <div>
                
                  <input  type="radio" asp-for="Sim" value=true >Sim</input>
                  <input  type="radio" asp-for="Sim" value=false >Não</input>  
                  
             </div>
               <input type="submit" ></input> <br>
               <a href="ExibirQuestionario"> Exibir Resultado</a>
               
          </form>     
         
</body>
</html>